.w-fit-content {
    width: fit-content;
}

.cupboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.accordion-button {
    background-color: var(--bs-secondary) !important;
    color: white !important;
}

.accordion-button::after {
    filter: brightness(0) invert(1); 

}

.card-as-button {
    cursor: pointer;
}

.card-as-button:hover {
    filter: brightness(0.9);
    scale: 1.02;
}